html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 241, 229);
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    font-size: 1.5rem;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px; 
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    margin-bottom: 8px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
}

.option:hover {
    cursor: pointer;
    border-color: rgb(61, 90, 234);
    color: rgb(61, 90, 234);
}

.option.shadow:hover {
    box-shadow: 5px 3px 5px;
}

@keyframes rainbow {
    0% {
        background-color: #6666ff;
    }
    10% {
        background-color: #0099ff;
    }
    50% {
        background-color: #00ff00;
    }
    75% {
        background-color: #ff3399;
    }
    100% {
        background-color: #6666ff;
    }
}

.option.rainbow:hover {
    animation: rainbow 6s linear 0s infinite;
}

.right {
    margin-left: auto;
}

.info {
    width: 70px;
    flex: 0 1 auto;
    text-align: right;
}

.menu input {
    flex: 1;
}

.gridbox {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
}

.footer {
    margin-top: 15px;
}